<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css"  href="/nav.css" />
    <style>
        .container {
            width: 50%;
            margin: 30px auto;
            text-align: center;
            border: 1px solid #ccc;
            padding: 40px;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li style="float:right">
                <form action="/logout?_method=DELETE" method="POST" class="active">
                    <button type="submit">Log Out</button>
                </form>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h3>Welcome to About page</h3>
           


        </div>
    </main>
</body>

</html>